/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for simple hyperlinks.
 */

a {
  color: $color-links;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: shade( $color-links, 20% );
  }
}
