.timestamp {
  background-color: $color-accent;
  height: 66px;
  line-height: 66px;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 25px;
  display: inline-block;
  padding: {
    left: 15px;
    right: 15px;
  }
}