.footer {
  position: relative;
}
  .footer__map {
    width: 100%;
    min-height: 691px;

    .slider__item & {
      min-height: calc(100% - 82px);
    }
  }

  .footer__info {
    background-color: $color-page-foot-background;
    color: $color-page-foot;
    font-size: 14px;
    line-height: 16px;
    padding: {
      top: 25px;
      bottom: 25px;
    }
  }

  .footer__copyright {
    span {
      display: block;
    }
  }

  .footer__social {
    text-align: right;
    font-size: 18px;
    line-height: 18px;
  }

  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer__item {
    display: inline-block;
    margin: {
      left: 5px;
      right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__link {
    color: $color-site-foot-link;

    @include hocus() {
      text-decoration: underline;
      color: $color-site-foot-link-hover;
    }
  }

  .footer__content {
    @include display(flex);
    @include align-items(center);
  }
