.sidebar {
  background-color: darken($color-tertiary, 2%);
  margin-top: calc( -8vh - 125px );
  height: calc( 100% + 8vh + 125px + 4rem );
  position: absolute;
  right: 0;

  @media(max-width: $screen-sm-max) {
    position: relative;
    height: inherit;
    margin-top: 0;
    overflow: hidden;
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }
}

.sidebar--contact,
.sidebar--blog {
  height: 100%;
  margin-top: inherit;
}
